
.indicator{
    padding: 40px;
    margin: 5px 0;
    text-align:center;
}

.danger {
    background-color: red;
}
.warning {
    background-color: yellow;
}
.safe {
    background-color: green;
}
.inactive {
    display: none;
}
footer {
    background-color: #1c73ff;
    color: #fff;
    padding: 40px;
    margin-top: 40px;
}